<!-- 
<ul class="flights">
	<% @flights.each do |flight| %>
  	<li>
			Flight #: <%= flight.id %>
			Date: <%= flight.date %>
		</li>
	<% end %>
</ul>

<%= f.label :date %>
	<%= f.select :date, options_from_collection_for_select(
											Flight.all, :date, :date_formatted) %>
											-->